<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, obcaecati, eum, nihil, aperiam cumque error labore incidunt in totam illo voluptatem earum officiis odit aspernatur architecto assumenda tenetur animi natus!</p>
</div>    

